<!DOCTYPE html>
<html>
<head>
  <!-- This file is the template for "www/index.html". Modify it to fit your needs -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta http-equiv="Content-Security-Policy" content="default-src * data: gap: https://ssl.gstatic.com; style-src * 'unsafe-inline'; script-src * 'unsafe-inline' 'unsafe-eval'">
  <title>Study Japanese | Yoseob Kim</title>
  <meta property="og:title" content="Study Japanese | Yoseob Kim" />
  <meta property="og:type" content="website" />
  <script>
    var link = document.createElement('meta');
    link.name = "og:image";
    link.content = window.location.href + "favicon/apple-icon-180x180.png";
    document.getElementsByTagName('head')[0].appendChild(link);
  </script>
   
  <link rel="apple-touch-icon" sizes="57x57" href="/favicon/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/favicon/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/favicon/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/favicon/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/favicon/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/favicon/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/favicon/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/favicon/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="/favicon/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/favicon/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
  <script>
    var favicons = document.getElementsByTagName('link');
    var pathname = window.location.pathname;
    if(pathname.endsWith('/')) {
      pathname = pathname.substr(0, pathname.length - 1);
    }

    for(var i = 0; i < favicons.length; i++) {
      var favicon = favicons[i];
      var href = new URL(favicon.href);
      favicon.href = href.origin + pathname + href.pathname;
    }
  </script>

  <!-- The following EJS lines include the necessary CSS and JS
  from Monaca (cordova.js/ loader.js) in production mode -->
<% for (var dep in htmlWebpackPlugin.options.externalJS) { %>
  <script type="text/javascript" src="<%= htmlWebpackPlugin.options.externalJS[dep] %>"></script><% } %>
<% for (var dep in htmlWebpackPlugin.options.externalCSS) { %>
  <link rel="stylesheet" type="text/css" href="<%= htmlWebpackPlugin.options.externalCSS[dep] %>"><% } %>
</head>
<body>
  <div id="app"></div>
</body>
</html>
